﻿@using System.Web.UI.WebControls
<!DOCTYPE HTML>

<html>
<head>
    <title>@ViewBag.Title - Clinical Study Demo | ASP.NET Controls by DevExpress</title>
    @Html.DevExpress().GetStyleSheets(
										new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "ClinicalStudyTheme" },
										new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "ClinicalStudyTheme" },
										new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor, Theme = "ClinicalStudyTheme" },
										new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "ClinicalStudyTheme" },
										new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid, Theme = "ClinicalStudyTheme" },
										new StyleSheet { ExtensionSuite = ExtensionSuite.Chart, Theme = "ClinicalStudyTheme" },
										new StyleSheet { ExtensionSuite = ExtensionSuite.Report, Theme = "ClinicalStudyTheme" }
	)
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")" type="text/javascript"></script>  

	<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
	
	<script src="@Url.Content("~/Scripts/modernizr-2.5.3.js")" type="text/javascript"></script>
    @Html.DevExpress().GetScripts( 
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout }, 
	    new Script { ExtensionSuite = ExtensionSuite.HtmlEditor }, 
	    new Script { ExtensionSuite = ExtensionSuite.GridView }, 
	    new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
	    new Script { ExtensionSuite = ExtensionSuite.Editors }, 
        new Script { ExtensionSuite = ExtensionSuite.Chart },
	    new Script { ExtensionType = ExtensionType.ReportToolbar },
	    new Script { ExtensionType = ExtensionType.ReportViewer }
    ) 

	
</head>

<body>
	@RenderBody()
</body>
</html>
